* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  width: 100%;
  min-width: 960px;
  background: #222d46;
  color: rgb(255, 255, 255);
}

i,
svg {
  pointer-events: none;
}

.sequencer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad,
.clap-pad,
.crash-pad,
.openhat-pad,
.perc-pad,
.misc-pad {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.kick-pad {
  background: linear-gradient(to right, rgb(129, 217, 252), rgb(198, 239, 255));
}
.snare-pad {
  background: linear-gradient(to right, rgb(251, 210, 255), rgb(249, 234, 250));
}
.hihat-pad {
  background: linear-gradient(to right, rgb(255, 232, 155), rgb(252, 239, 196));
}
.tom-pad {
  background: linear-gradient(to right, rgb(255, 155, 155), rgb(245, 176, 176));
}
.clap-pad {
  background: linear-gradient(to right, rgb(106, 231, 200), rgb(143, 211, 194));
}
.crash-pad {
  background: linear-gradient(to right, rgb(65, 128, 245), rgb(100, 150, 241));
}
.openhat-pad {
  background: linear-gradient(to right, rgb(245, 203, 65), rgb(250, 220, 123));
}
.perc-pad {
  background: linear-gradient(
    to right,
    rgba(71, 0, 236, 0.849),
    rgba(79, 16, 226, 0.74)
  );
}
.misc-pad {
  background: linear-gradient(to right, rgb(116, 181, 255), rgb(139, 188, 245));
}

.kick-pad,
.snare-pad,
.hihat-pad,
.tom-pad,
.clap-pad,
.crash-pad,
.openhat-pad,
.perc-pad,
.misc-pad {
  transition: all 150ms ease;
}

.kick-track,
.snare-track,
.hihat-track,
.tom-track,
.clap-track,
.crash-track,
.openhat-track,
.perc-track,
.misc-track {
  display: flex;
  width: 95%;
  margin: 1.5rem auto 1rem;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #495e91, #6679a1);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.openhat-track h1,
.openhat-track button {
  margin-right: 0.5rem;
}

.openhat-track button {
  margin-right: 0.9rem;
}

.kick,
.snare,
.hihat,
.tom,
.clap,
.crash,
.openhat,
.perc,
.misc {
  display: flex;
}

.controls {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.mute {
  border: none;
  padding: 1rem 1rem;
  background: #424242;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  object-fit: contain;
}

.mute.active {
  background: rgb(102, 102, 102);
}

.play {
  width: 10%;
  margin-bottom: 8rem;
  margin-top: 0;
  margin: auto;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

.play:hover {
  background: #b5c8f5;
  color: black;
}

.play.active {
  background: #556383;
  color: white;
}

.mute,
.play {
  transition: all 200ms ease-in-out;
}

.kick-pad.active {
  background: rgb(75, 194, 241);
}
.snare-pad.active {
  background: rgb(249, 177, 255);
}
.hihat-pad.active {
  background: rgb(255, 219, 101);
}
.tom-pad.active {
  background: rgb(255, 155, 155);
}
.clap-pad.active {
  background: rgb(79, 230, 192);
}
.crash-pad.active {
  background: rgb(65, 128, 245);
}
.openhat-pad.active {
  background: rgb(255, 196, 1);
}
.perc-pad.active {
  background: rgb(77, 1, 255);
}
.misc-pad.active {
  background: rgb(116, 181, 255);
}

.kick-pad.active,
.snare-pad.active,
.hihat-pad.active,
.tom-pad.active,
.clap-pad.active,
.crash-pad.active,
.openhat-pad.active,
.perc-pad.active,
.misc-pad.active {
  transform: scale(1.1);
}

select {
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.404);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

option {
  background: rgba(255, 255, 255, 0.822);
  color: black;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
    border-radius: unset;
    background: white;
  }
}

.play-options {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 2rem;
  padding: 2rem;
  background: #222d46;
}

.play-wrapper {
  flex-grow: 1;
  margin: auto;
}

.play {
  width: 30%;
  display: block;
  margin: auto;
  align-self: center;
  justify-content: center;
}

.range-options {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
}

.range-options input {
  cursor: pointer;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.541);
  border-radius: 10px;
  height: 0.3rem;
  margin-top: 1.8rem;
  padding: 0.5rem;
  width: 100%;
  position: relative;
}

.range-options p {
  padding-top: 0.8rem;
}

.range-options input,
.range-options p {
  width: 30%;
  margin: auto;
  text-align: center;
}
